import { FC } from 'react';
import classes from './{{name}}.module.css';

type {{pascalCase name}}Props = {};

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => {
  // State

  // Effects

  return (
    <div className={classes['{{name}}']}>
      <h3>{{pascalCase name}}</h3>
      <p>Edit at /src/components/{{name}}</p>
    </div>
  );
};
